@model DonarDonationSearchView
@{
    ViewData["Title"] = "Donation Details";

    ViewData["DonationActive"] = "active";
}

@inject DropDown.IBloodBankDDL bloodBankDDL
@inject DropDown.ICommonDDL CommonDDL
@inject DropDown.IDonorDDL donnorDDL
<partial name="_UpdateTransfusion" />

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="row justify-content-start float-right mr-0 mt-2 d-none">

                <a href="@Url.Action("Index","SampleCategory")" class="ml-1">
                    <div class="card-box  bg-white p-1 pr-2 m-0">
                        <p class="text- small mb-0">Figure 1</p>
                        <p class="text-dark m-0 mb-0">0.00</p>
                    </div>
                </a>

                <a href="@Url.Action("Index","Customer")" class="ml-1">
                    <div class="card-box  bg-white p-1 pr-2 m-0">
                        <p class="text- small mb-0">Figure 2 </p>
                        <p class="text-dark m-0 mb-0">0.0</p>
                    </div>
                </a>

            </div>
            <h4 class="page-title">@ViewData["Title"] (@Model.RecordCount)</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="mt-2 alert alert-danger  @(TempData["ErrorMessage"] == null ? "d-none" : "")">
            @(TempData["ErrorMessage"])
        </div>
        <div class="mt-2 alert alert-success  @(TempData["SuccessMessage"] == null ? "d-none" : "")">
            @(TempData["SuccessMessage"])
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body p-2 p-md-3">



                <div class="row justify-content-md-start justify-content-center">

                    <div class="p-1 pl-0">
                        @Html.EditorFor(model => model.KeyW, new { htmlAttributes = new { @class = "form-control", placeholder = "Search", id = "txtKeyW", autofocus = "autofocus", onkeyup = "SearchStart()" } })
                        @Html.ValidationMessageFor(model => model.KeyW, "", new { @class = "text-danger" })
                    </div>
                    <div class="p-1 pl-0 d-none">
                        @Html.EditorFor(model => model.DonorID, new { htmlAttributes = new { @class = "form-control", placeholder = "Search", id = "txtDonorID", autofocus = "autofocus", onkeyup = "SearchStart()" } })
                        @Html.ValidationMessageFor(model => model.DonorID, "", new { @class = "text-danger" })
                    </div>
                    <div class="p-1 pl-0  ">
                        <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardStartDate">
                            <span class="input-group-addon bg-transparent text-danger">Select Date</span>
                            <input type="text" id="txtStartDate" class="form-control">
                        </div>
                    </div>
                    <div class="p-1 pl-0 ">
                        @Html.DropDownList("BloodBankCentreID", await bloodBankDDL.BloodBankCentreList(), "(All Blood Bank)", htmlAttributes: new { @class = "", id = "cmbBloodBankCentreID" })
                    </div>

                    <div class="p-1 pl-0">
                        @Html.DropDownList("Status",  CommonDDL.DonationStatusList(), "(All Status)", htmlAttributes: new { @class = "", id = "cmbStatus" })
                    </div>



                </div>

                <div id="divLoad" class="d-flex justify-content-center mt-2 position-absolute w-100">
                    <div id="spnLoad" class="spinner-border " role="status"></div>
                </div>

                <div id="divRecords" class="m-0 p-0 mt-2"></div>

                <input type="hidden" id="txtRecordCount" value="@Model.RecordCount" />
                <input type="hidden" id="txtPageSize" value="@Model.PageSize" />

            </div>
        </div>
    </div>
     
</div>

@await Html.PartialAsync("_Pagination", Model.PaginationList)

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="~/js/pagination.js" asp-append-version="true"></script>


    <script title="Main">

        var Page = 1;
        var PageURL = '/BloodBankSystem/DonorDonation/_MainList';
        var params = new window.URLSearchParams(window.location.search);
        $(document).ready(function () {

            LoadPage(1);
             
           
        });

        function GetData(pageNo) {
            var KeyW = $("#txtKeyW").val();
            var DonorID = $("#txtDonorID").val();
            var NIC = "";
            var DonationDate = params.has('DonationDate') ? params.get('DonationDate') : "";

            var BloodBankCentreID = $("#cmbBloodBankCentreID").val();
            var DoctorID = "";
            var Status = $("#cmbStatus").val();

            Page = pageNo;
            var PageSize = $("#txtPageSize").val();

            var data = {
                KeyW: KeyW,
                DonorID: DonorID,
                NIC: NIC,
                DonationDate: DonationDate,
                BloodBankCentreID: BloodBankCentreID,
                DoctorID: DoctorID,
                Status: Status,
                Page: Page,
                PageSize: 9999999
            };

            return data;
        }
        if ($('#dashboardStartDate').length) {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDay());
            $('#dashboardStartDate').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true
            });
            var StartD = params.get('DonationDate');
            if (StartD == null || StartD == '') {
                $('#dashboardStartDate').datepicker('setDate', today);
            }
            else {
                $('#dashboardStartDate').datepicker('setDate', StartD);
            }


        }

    </script>


    <script title="Search">

        function SearchStart() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("txtKeyW");
            filter = input.value.toUpperCase();
            table = document.getElementById("tblBody");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];

                if (td) {
                    txtValue = td.textContent || td.innerText;
                    txtValue = txtValue + ' ' + td1.textContent || td1.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        $("#cmbBloodBankCentreID").change(function (event) {
            var DonationDate = params.has('DonationDate') ? params.get('DonationDate') : "";
            Search(DonationDate);
        });


        $("#txtKeyW").on("keydown", function search(e) {
            if (e.keyCode == 13) {
                var DonationDate = params.has('DonationDate') ? params.get('DonationDate') : "";
                Search(DonationDate);
            }
        });

        $("#cmbStatus").change(function (event) {
            var DonationDate = params.has('DonationDate') ? params.get('DonationDate') : "";
            Search(DonationDate);
        });

        $("#dashboardStartDate").on("change", function CalDate() {
            var DonationDate = $("#txtStartDate").val();
            Search(DonationDate);

        });


        function Search(DonationDate) {

            var KeyW = $("#txtKeyW").val();
            var DonorID = $("#txtDonorID").val();
            var NIC = "";
            var DonationDate = DonationDate;
            var BloodBankCentreID = $("#cmbBloodBankCentreID").val();
            var DoctorID = "";
            var Status = $("#cmbStatus").val();
            var url = '@Url.Action("Index", "DonorDonation", new { area = "BloodBankSystem" })';

           

            var ParamPart = "&";
            ParamPart = ParamPart + ((KeyW != "") ? '&KeyW=' + KeyW : '');
            ParamPart = ParamPart + ((DonorID != "") ? '&DonorID=' + DonorID : '');
            ParamPart = ParamPart + ((NIC != "") ? '&NIC=' + NIC : '');
            ParamPart = ParamPart + ((DonationDate != "") ? '&DonationDate=' + DonationDate : '');
            ParamPart = ParamPart + ((BloodBankCentreID != "") ? '&BloodBankCentreID=' + BloodBankCentreID : '');
            ParamPart = ParamPart + ((DoctorID != "") ? '&DoctorID=' + DoctorID : '');
            ParamPart = ParamPart + ((Status != "") ? '&Status=' + Status : '');

            ParamPart = ParamPart.replace("&&", "");

            window.location.href = url + '?' + ParamPart;
            event.preventDefault();
        };

    </script>

     
}
