@model IEnumerable<OutHospital>

@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-centered table-nowrap table-striped">
        <thead>
            <tr>
                <th class="d-none">@Html.DisplayNameFor(model => model.First().HospitalID)</th>
                <th>@Html.DisplayNameFor(model => model.First().HospitalName)</th>
              
                <th>@Html.DisplayNameFor(model => model.First().Email)</th>
                <th>@Html.DisplayNameFor(model => model.First().PhoneNumber)</th>
                <th class=" ">@Html.DisplayNameFor(model => model.First().ApprovedBy)</th>
         
                <th class="  ">@Html.DisplayNameFor(model => model.First().Address)</th>
                <th style="width:70px;">Action</th>
            </tr>
        </thead>
        <tbody id="tblBody">
            @foreach (var item in Model)
            {
                <tr id="row_@item.HospitalID">
                    <td class="d-none">@Html.DisplayFor(modelItem => item.HospitalID)</td>
                    <td>@Html.DisplayFor(modelItem => item.HospitalName)</td>
              
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td class="  ">@Html.DisplayFor(modelItem => item.ApprovedBy)</td>
 
                    <td class="  ">@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.HospitalID })" class="table-icon text-primary"><i class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" onclick="ConfirmDelete('@item.HospitalID','@Url.Action("Delete")')" class="table-icon text-danger"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>