@model DonarDonationSearchView
@{
    ViewData["Title"] = "Donation Details";

    ViewData["DonarDonationActive"] = "active";
}

@inject DropDown.IBloodBankDDL bloodBankDDL
@inject DropDown.IDonorDDL donorDDL
@inject DropDown.ICommonDDL CommonDDL

@*<partial name="_ConfirmDelete" />*@
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">@ViewData["Title"]</h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardStartDate">
            <span class="input-group-addon bg-transparent text-danger">Select Date</span>
            <input type="text" id="txtStartDate" class="form-control">
        </div>
 
        
       <div class="d-flex align-items-center flex-wrap text-nowrap">
        <div class="input-group date datepicker   mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="">
                <span class="input-group-addon bg-transparent"><i data-feather="filter" class=" text-danger"></i></span>

                @Html.DropDownList("Status", CommonDDL.DonationStatusList(), "(Select Status)", htmlAttributes: new { @class = "form-control", id = "cmbStatus" })

        </div>
    </div>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <a href="@Url.Action("Add")" class="btn btn-outline-danger btn-icon-text">
                <i class="mdi mdi-plus-circle-outline"></i>
                Add New Donation
            </a>
        </div>

</div>
</div>

 
<div class="row">
    <div class="col-12">
        <div class="mt-2 alert alert-danger  @(TempData["ErrorMessage"] == null ? "d-none" : "")">
            @(TempData["ErrorMessage"])
        </div>
        <div class="mt-2 alert alert-success  @(TempData["SuccessMessage"] == null ? "d-none" : "")">
            @(TempData["SuccessMessage"])
        </div>
    </div>
</div>
 

<div id="divLoad" class="d-flex justify-content-center mt-2 position-absolute w-100">
    <div id="spnLoad" class="spinner-border " role="status"></div>
</div>

<div id="divRecords" class="m-0 p-0 mt-2"></div>
 <input type="hidden" id="txtRecordCount" value="@Model.RecordCount" />
<input type="hidden" id="txtPageSize" value="@Model.PageSize" />

@await Html.PartialAsync("_Pagination", Model.PaginationList)

@section Scripts {
     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


    <script src="~/js/pagination.js" asp-append-version="true"></script>


       <script title="Main">

        var Page = 1;
        var PageURL = '/Donor/DonarDonation/_MainList';
        var params = new window.URLSearchParams(window.location.search);
        $(document).ready(function () {

            LoadPage(1);
        });

        function GetData(pageNo) {
            var KeyW = "";
            var DonationDate = params.has('DonationDate') ? params.get('DonationDate') : "";

            var Status = $("#cmbStatus").val();

            Page = pageNo;
            var PageSize = $("#txtPageSize").val();

            var data = {
                KeyW: KeyW,
                DonationDate: DonationDate,
                Status: Status,
                Page: Page,
                PageSize: 999999999999
            };

            return data;
        }

        if ($('#dashboardStartDate').length) {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDay());
            $('#dashboardStartDate').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true
            });
            var StartD = params.get('DonationDate');
            if (StartD == null || StartD == '') {
                $('#dashboardStartDate').datepicker('setDate', today);
            }
            else {
                $('#dashboardStartDate').datepicker('setDate', StartD);
            }


        }
    </script>


    <script title="Search">

        function SearchStart() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("txtKeyW");
            filter = input.value.toUpperCase();
            table = document.getElementById("tblBody");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];

                if (td) {
                    txtValue = td.textContent || td.innerText;
                    txtValue = txtValue + ' ' + td1.textContent || td1.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $("#txtKeyW").on("keydown",function search(e) {
            if(e.keyCode == 13) {
                Search();
            }
        });

        $("#cmbStatus").change(function (event) {
            var DonationDate = params.has('DonationDate') ? params.get('DonationDate') : "";
            Search(DonationDate);
        });

        $("#dashboardStartDate").on("change", function CalDate() {
            var DonationDate = $("#txtStartDate").val();
            Search(DonationDate);

        });
 

        function Search(DonationDate) {

            var KeyW = "";
            var DonationDate = DonationDate;
            var Status = $("#cmbStatus").val();
          
            var url = '@Url.Action("Index", "DonarDonation", new { area = "Donor" })';

            var ParamPart = "&";
            ParamPart = ParamPart + ((KeyW != "") ? '&KeyW=' + KeyW : '');
            ParamPart = ParamPart + ((DonationDate != "") ? '&DonationDate=' + DonationDate : '');
            ParamPart = ParamPart + ((Status != "") ? '&Status=' + Status : '');
            
            ParamPart = ParamPart.replace("&&", "");

            window.location.href = url + '?' + ParamPart;
            event.preventDefault();
        };

    </script>
}
